# Ignore all build directories recursively
**/build/

# Ignore environment
.env
venv/

# Other common ESP-IDF build artifacts
*.elf
*.bin
*.map
*.log

.project
.cproject
.idea/
.vscode/
*.pyc
__pycache__/
